@import "colors";
body{
  text-align: center;
  background-image: linear-gradient(62deg, #8EC5FC, #E0C3FC);
}
::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: $red1;
  border-radius: 5px;
}