@import "colors";
body{
  text-align: center;
}
::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: $red1;
  border-radius: 5px;
}