.container{
  width: max(240px,80%);
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;
  @media only screen and (max-width:600px) {
    grid-template-columns: 1fr;
  }
  @media only screen and (min-width:600px) {
    grid-template-columns: 1fr 1fr;
  }  justify-content: space-evenly;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: hsl(41, 52%, 82%);
  border-radius: 5px;
}