ul{
  width: 80%;
  margin: 0 auto;
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  & li {
    margin: 0 auto;
    & a{
      text-decoration: none;
      color: black;
        &:hover{
        color: rgb(205, 219, 219);
      }
    }
  }
}
