@import "colors";
.pagination{
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2em;
  .pagesBar{
    max-width: 100%;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1em;
    padding-top: 0.5em;
    & button{
      width: 10%;
      background-color: $red3;
      border: none;
      padding: 1em 0em 1em 0em;
      color:#FFF;
      &:hover{
        background-color: $red4 !important;
        color:$red2 !important;
        font-weight: bold;
        cursor: pointer;
      }
    }

    & :first-child{
      border-top-left-radius: 50%;
    }
    & :last-child{
      border-bottom-right-radius: 50%;
    }

    & :nth-child(20){
      border-bottom-right-radius: 50%;
    }
  }

  .container{
    width: max(240px,100%);
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    @media only screen and (max-width:600px) {
      grid-template-columns: 1fr;
    }
    @media only screen and (min-width:600px) {
      grid-template-columns: 1fr 1fr;
    }
    justify-content: space-evenly;
  }

}